{%load comments%}
{%get_comment_count for post as comment_count%}
<div>
	<h2 class='entry-title'>
		<a href='{%url post_by_id post.id%}'>{{post.title}}</a>
	</h2>
	<div class='entry-meta'>
		<span class='riqi'>      日期：{{post.pub_date|date:'F j, Y'}}           </span>       
		<span class='zuozhe'>      作者：{{post.author}}           </span>        
		<span class='pinglun'>      <a href='{%url post_by_id post.id%}#comments'>评论({{comment_count}})</a>         </span>   	
		<span class='category'>分类：{%for category in post.categories.all%}<a href='{%url posts_by_category category.id%}'>{{category}}</a>{%endfor%}</span>
	</div>
	<div class='entry-content'>{{post.body|safe}}</div>	
	<div class='entry-tags'>
		标签：{%for tag in post.tags.all%}
		<a href='{%url posts_by_tag tag.id%}'>{{tag}}</a>
		{%endfor%}
	</div>
	<div class='post_url'>
		要转载本文，请注明原文地址： 
		<a href='{%url post_by_id post.id%}'>http://newliu.com{%url post_by_id post.id%}</a>
	</div>
	<div id='bottom-info'>
		<div id='befor-post'>
			{%if post.is_bigest_id%}
			最早一篇
			{%else%}
			<a href='{%url post_by_id post.id|add:'1'%}'>上一篇：{{post.befor_post_title}}</a>
			{%endif%}
		</div>
		<div id='after-post'>
			{%if post.is_smallest_id%}
			最后一篇
			{%else%}
			<a href='{%url post_by_id post.id|add:'-1'%}'>下一篇：{{post.after_post_title}}</a>
			{%endif%}
		</div>
		<div class='clear'></div>
	</div>
	<div id='jiathis' style='margin-bottom:40px;'>
		<!-- JiaThis Button BEGIN -->
		<div id="ckepop"><span class="jiathis_txt">分享到：</span>
		<a class="jiathis_button_qzone"></a>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_tqq"></a>
		<a class="jiathis_button_renren"></a>
		<a class="jiathis_button_kaixin001"></a>
		<a class="jiathis_button_douban"></a>
		<a class="jiathis_button_fb"></a>
		<a class="jiathis_button_twitter"></a>
		<a class="jiathis_button_tumblr"></a>
		<a class="jiathis_button_linkedin"></a>
		<a class="jiathis_button_delicious"></a>
		<a class="jiathis_counter_style"></a>
		</div>
		<script type="text/javascript" >
		var jiathis_config={
			data_track_clickback:true,
			summary:"",
			hideMore:true
		}
		</script>
		<script type="text/javascript" 
		src="http://v2.jiathis.com/code/jia.js?uid=1579398" charset="utf-8">
		</script>
		<!-- JiaThis Button END -->
	</div>
	<div class='Separator-line'></div>
</div>