html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{background:transparent;border:0;margin:0;padding:0;vertical-align:baseline;}
body{line-height:1;}
h1, h2, h3, h4, h5, h6{clear:both;font-weight:normal;}
ol, ul{list-style:none;}
blockquote{quotes:none;}
blockquote:before, blockquote:after{content:'';content:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a img{border:none;}
#container{float:left;margin:0 0 0 0;width:640px;}
#content{margin:0 0 0 20px;}

#footer{clear:both;width:100%;}
.one-column #content{margin:0 auto;width:640px;}
.single-attachment #content{margin:0 auto;width:900px;}
body,input,textarea,.page-title span,.pingback a.url{font-family:Georgia, "Bitstream Charter", serif;}

h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,

#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,

.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-tags,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text{font-family:"Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;}
input[type=submit]{font-family:"Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;}
pre{font-family:"Courier 10 Pitch", Courier, monospace;}
code{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;}
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper{margin:0 auto;width:940px;}
#wrapper{background:#fff;margin-top:20px;padding:0 20px;}

#site-info{float:left;font-size:16px;font-weight:bold;width:300px;}
#site-generator{float:left;width:640px;}
body{background:#f1f1f1;}
body,input,textarea{color:#666;font-size:12px;line-height:18px;}
hr{background-color:#e7e7e7;border:0;clear:both;height:1px;margin-bottom:18px;}
p{margin-bottom:18px;}
ul{list-style:square;margin:0 0 18px 1.5em;}
ol{list-style:decimal;margin:0 0 18px 1.5em;}
ol ol{list-style:upper-alpha;}
ol ol ol{list-style:lower-roman;}
ol ol ol ol{list-style:lower-alpha;}
ul ul,ol ol,ul ol,ol ul{margin-bottom:0;}
dl{margin:0 0 24px 0;}
dt{font-weight:bold;}
dd{margin-bottom:18px;}
strong{font-weight:bold;}
cite,em,i{font-style:italic;}
big{font-size:131.25%;}
ins{background:#ffc;text-decoration:none;}
blockquote{font-style:italic;padding:0 3em;}
blockquote cite,blockquote em,blockquote i{font-style:normal;}
pre{background:#f7f7f7;color:#222;line-height:18px;margin-bottom:18px;overflow:auto;padding:1.5em;}
abbr,acronym{border-bottom:1px dotted #666;cursor:help;}
sup,sub{height:0;line-height:1;position:relative;vertical-align:baseline;}
sup{bottom:1ex;}
sub{top:.5ex;}
input[type="text"],textarea{border:1px solid #333;box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);padding:2px;}
a:link{color:#0066cc;}
a:visited{color:#743399;}
a:active,a:hover{color:#ff4b33;}
.screen-reader-text{position:absolute;left:-9000px;}
#header{padding:30px 0 0 0;}
#logo{float:left;line-height:6px;margin:0 0 0 0;width:700px;}

#site-description{clear:right;float:right;font-style:italic;margin:30px 0 0 0;width:220px;}
#access{background:#000;display:block;float:left;margin:0 auto;width:940px;}
#access .menu-header,div.menu{font-size:13px;margin-left:12px;width:928px;}
#access .menu-header ul,div.menu ul{list-style:none;margin:0;}
#access .menu-header li,div.menu li{float:left;position:relative;}
#access a{color:#aaa;display:block;line-height:38px;padding:0 10px;text-decoration:none;}
#access ul ul{box-shadow:0px 3px 3px rgba(0,0,0,0.2);-moz-box-shadow:0px 3px 3px rgba(0,0,0,0.2);-webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.2);display:none;position:absolute;top:38px;left:0;float:left;width:180px;z-index:99999;}
#access ul ul li{min-width:180px;}
#access ul ul ul{left:100%;top:0;}
#access ul ul a{background:#333;line-height:1em;padding:10px;width:160px;height:auto;}
#access li:hover > a,#access ul ul:hover > a{background:#333;color:#fff;}
#access ul li:hover > ul{display:block;}
#access ul li.current_page_item > a,
#access ul li.current_page_parent > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a{color:#fff;}
* html #access ul li.current_page_item a,
* html #access ul li.current_page_parent a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover{color:#fff;}
#main{clear:both;overflow:hidden;padding:40px 0 0 0;}
#content{margin-bottom:36px;}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr{margin-bottom:24px;}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul{margin-bottom:0;}
#content pre,
#content kbd,
#content tt,
#content var{font-size:15px;line-height:21px;}
#content code{font-size:13px;}
#content dt,
#content th{color:#000;}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6{color:#000;line-height:1.5em;margin:0 0 20px 0;}
#content table{border:1px solid #333;margin:0 -1px 24px 0;text-align:left;width:100%;}
#content tr th,
#content thead th{color:#000;font-size:12px;font-weight:200;line-height:18px;padding:9px 24px;}
#content tr td{border-top:0px solid #e7e7e7;padding:6px 24px;}
#content tr.odd td{background:#f2f7fc;}
.hentry{margin:0 0 48px 0;}
.home 
.sticky{background:#f2f7fc;border-top:4px solid #000;margin-left:-20px;margin-right:-20px;padding:18px 20px;}
.single .hentry{margin:0 0 36px 0;}
.page-title{color:#000;font-size:14px;font-weight:bold;margin:0 0 36px 0;}
.page-title span{color:#333;font-size:16px;font-style:italic;font-weight:normal;}
.page-title a:link,
.page-title a:visited{color:#888;text-decoration:none;}
.page-title a:active,
.page-title a:hover{color:#ff4b33;}
#content .entry-title{color:#06c;font-size:21px;font-weight:bold;line-height:1.3em;margin-bottom:0;}
.entry-title a:link,
.entry-title a:visited{color:#3367BD;text-decoration:none;}
.entry-title a:active,
.entry-title a:hover{color:#ff4b33;}
.entry-meta{color:#666;font-size:12px;background-color:#ffffcc;}

.entry-meta abbr:hover,

.entry-content,
.entry-summary{clear:both;padding:5px 0 0 0;}
#content .entry-summary p:last-child{margin-bottom:12px;}

.page-link{clear:both;color:#000;font-weight:bold;line-height:48px;word-spacing:0.5em;}
.page-link a:link,
.page-link a:visited{background:#f1f1f1;color:#333;font-weight:normal;padding:0.5em 0.75em;text-decoration:none;}
.home .sticky .page-link a{background:#d9e8f7;}
.page-link a:active,
.page-link a:hover{color:#ff4b33;}
body.page .edit-link{clear:both;display:block;}
#entry-author-info{background:#f2f7fc;border-top:4px solid #000;clear:both;font-size:14px;line-height:20px;margin:24px 0;overflow:hidden;padding:18px 20px;}
#entry-author-info 
#author-avatar{background:#fff;border:1px solid #e7e7e7;float:left;height:60px;margin:0 -104px 0 0;padding:11px;}
#entry-author-info 
#author-description{float:left;margin:0 0 0 104px;}
#entry-author-info 
h2{color:#000;font-size:100%;font-weight:bold;margin-bottom:0;}
.entry-tags{color:#888;font-size:12px;line-height:18px;}
.entry-meta a,
.entry-tags a{color:#06c;text-decoration:none;}
.entry-meta a:hover,
.entry-tags a:hover{color:#ff4b33;text-decoration:none;}
#content .video-player{padding:0;}
.home 
#content 
.format-aside p,
.home #content .category-asides p{font-size:14px;line-height:20px;margin-bottom:10px;margin-top:0;}
.home .hentry.format-aside,
.home .hentry.category-asides{padding:0;}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content{padding-top:0;}
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img{border:10px solid #f1f1f1;margin-bottom:0;}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb{float:left;margin-right:20px;margin-top:-4px;}
.home #content .format-gallery 
.home #content .category-gallery {padding-top:4px;}
.attachment .entry-content .entry-caption{font-size:140%;margin-top:24px;}

#content img.size-auto,
#content img.size-full,
#content img.size-large,
#content img.size-medium,
#content .attachment img{max-width:100%;width:auto;height:auto;}
.alignleft,
img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
.alignright,
img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
.aligncenter,
img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
img.alignleft,
img.alignright,
img.aligncenter{margin-bottom:12px;}
.wp-caption{background:#f1f1f1;line-height:18px;margin-bottom:20px;max-width:632px !important;padding:4px;text-align:center;}
.wp-caption img{margin:5px 5px 0;}
.wp-caption p.wp-caption-text{color:#888;font-size:12px;margin:5px;}
.wp-smiley{margin:0;}
.gallery{margin:0 auto 18px;}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%;}
.gallery-columns-2 .gallery-item{width:50%;}
.gallery-columns-4 .gallery-item{width:25%;}
.gallery img{border:2px solid #cfcfcf;}
.gallery-columns-2 .attachment-medium{max-width:92%;height:auto;}
.gallery-columns-4 .attachment-thumbnail{max-width:84%;height:auto;}
.gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 12px;}
.gallery dl{margin:0;}
.gallery img{border:10px solid #f1f1f1;}
.gallery br+br{display:none;}
#content .attachment img{display:block;margin:0 auto;}
.navigation{color:#888;font-size:12px;line-height:18px;overflow:hidden;}
.navigation a:link,
.navigation a:visited{color:#888;text-decoration:none;}
.navigation a:active,
.navigation a:hover{color:#ff4b33;}
.nav-previous{float:left;width:50%;}
.nav-next{float:right;text-align:right;width:50%;}
#nav-above{margin:0 0 18px 0;}
#nav-above{display:none;}
.paged #nav-above,
.single #nav-above{display:block;}
#nav-below{margin:-18px 0 0 0;}





input[type=submit]{color:#000000;}
#respond{border-top:1px solid #e7e7e7;margin:24px 0;overflow:hidden;position:relative;}
#respond p{margin:0;}
#respond .comment-notes{margin-bottom:1em;}

.children #respond{margin:0 48px 0 0;}
h3#reply-title{margin:18px 0;}

#respond{margin:0 0 18px 0;}

#respond{margin:0;}
#cancel-comment-reply-link{font-size:12px;font-weight:normal;line-height:18px;}
#respond .required{color:#ff4b33;font-weight:bold;}
#respond label{color:#888;font-size:12px;}
#respond input{margin:0 0 9px;width:98%;}
#respond textarea{width:98%;}

#respond .form-submit{margin:12px 0;}
#respond .form-submit input{font-size:14px;width:auto;}
#widget-area ul{list-style:none;margin-left:0;}
#widget-area ul ul{list-style:square;margin-left:1.3em;}
#widget-area select{max-width:100%;}
.widget_search #s{width:60%;}
.widget_search label{display:none;}

/*.widget-title{color:#222;font-size:14px;font-weight:bold;}*/
#widget-area a:link,
#widget-area a:visited{text-decoration:none;}
#widget-area a:active,
#widget-area a:hover{text-decoration:underline;}

#wp_tag_cloud div{line-height:1.6em;}
#wp-calendar{width:100%;}
#wp-calendar caption{color:#222;font-size:14px;font-weight:bold;padding-bottom:4px;text-align:left;}
#wp-calendar thead{font-size:11px;}
#wp-calendar thead th{}
#wp-calendar tbody{color:#aaa;}
#wp-calendar tbody td{background:#f5f5f5;border:1px solid #fff;padding:3px 0 2px;text-align:center;}
#wp-calendar tbody .pad{background:none;}
#wp-calendar tfoot 
#next{text-align:right;}
.widget_rss a.rsswidget{color:#000;}
.widget_rss a.rsswidget:hover{color:#ff4b33;}

#main #widget-area ul{margin-left:0;padding:0 20px 0 0;}
#main #widget-area ul ul{border:none;margin-left:1.3em;padding:0;}

#footer{margin-bottom:20px;}
#colophon{border-top:4px solid #000;margin-top:-4px;overflow:hidden;padding:18px 0;}

#site-info a{color:#000;text-decoration:none;}
img
#wpstats{display:block;margin:0 auto 10px;}
pre{-webkit-text-size-adjust:140%;}
code{-webkit-text-size-adjust:160%;}
#access,
.entry-meta,

.navigation,
#widget-area{-webkit-text-size-adjust:120%;}
#site-description{-webkit-text-size-adjust:none;}
@media print{body{background:none !important;}
#wrapper{clear:both !important;display:block !important;float:none !important;position:relative !important;}
#header{border-bottom:2pt solid #000;padding-bottom:18pt;}
#colophon{border-top:2pt solid #000;}

#site-description{float:none;line-height:1.4em;margin:0;padding:0;}

.entry-content{font-size:14pt;line-height:1.6em;}

#access,   
#branding img,  
#respond,   
.comment-edit-link, 
.edit-link, 
.navigation,    
.page-link, 
#widget-area{display:none !important;}
#container,   
#header,    
#footer{margin:0;width:100%;}
#content,  
.one-column 
#content{margin:24pt 0 0;width:100%;}
.wp-caption p{font-size:11pt;}
#site-info,  
#site-generator{float:none;width:auto;}
#colophon{width:auto;}
img
#wpstats{display:none;}

#entry-author-info{border:1px solid #e7e7e7;}
#main{display:inline;}
.home 
.sticky{border:none;}
.widget_authors li strong{font-weight:normal}
.widget_authors li img{vertical-align:middle;margin-right:8px;margin-left:-16px;padding-bottom:2px;}
.widget_authors li ul{margin-bottom:6px;}
.widget_authors a:hover{text-decoration:none;}
.widget_authors a:hover strong{text-decoration:underline;}

#tag_cloud div{padding-top:4px;line-height:170%;}
.widget_rss_links p{margin-bottom:0;}
.widget_rss_links img{vertical-align:text-bottom;margin-right:2px;}
.adcode div, 
.adcode span, 
.adcode a{font-size:16px !important;}
#main 

.sharing{clear:both;}}

#site-generator{text-align:right;width:640px;}

/*以下为我自己新建的*/
/*评论部分*/
#comment-list{margin:0 0 10px 0;}
.user-face{float:left;}
.reply-doc{float:left;margin:0 0 4px 20px;width:560px;}
.clear{clear:both;}
.reply-title{color:#0C7823;}
.reply-title a{color:#06c;text-decoration:none;}
.reply-title a:hover{color:#ff4b33;}
.reply-author{float:left;}
.reply-date{float:right;}
.clear{clear:both;}
.reply-line{border-bottom:1px dotted #ccc;margin:0 0 30px 0;}
/*评论部分*/
/*评论表单部分*/
#id_name,#id_email,#id_url{width:300px;height:24px;border:1px solid #333;}
#id_comment{width:300px;height:80px;}
#captcha_img img{border:1px solid #333;vertical-align:middle;height:28px;width:80px;}
#id_captcha_1{width:103px;height:24px;}
#comment_submit{width:103px;height:30px;}
/*评论表单部分*/
/*recent-comment部分*/
.recent-comments li{list-style:none;}
.recent-comments img{width:20px;height:20px;}
.rc-img{float:left;margin:4px 4px 0 0;}
.rc-line{border-bottom:1px dotted #ccc;margin:0 0 4px 0;}
/*recent-comment部分*/
#content,
#content input,
#content textarea{color:#333;font-size:12px;line-height:24px;}
/*about部分*/
.email{background:url(mail.png) right no-repeat;white-space:pre;width:300px;}
#find-me img{border:1px dotted #369;}
.site-logo{float:left;margin:0 8px 0 0;}
#about-me{border-bottom:#369 1px dashed;margin-bottom:15px;padding-bottom:20px;}
#books{float:left;}
#music{float:right;margin-right:40px;}
/*about部分*/

#plusone{margin:0 0 0 2px;}
/*contact*/
#contact-error{color:#f30;}
#contact-form h2{color:#0C7823;}
#contact-form p{font-size:12px;}
#contact-form ul.errorlist{margin:0px;padding:0px;}
#contact-form ul.errorlist li{color:#f30;display:block;font-size:12px;
margin:0 0 3px;}
#contact-form input[type='text']{width:170px;height:25px;background-color:white;}
#contact-form textarea{height:200px;width:250px;background-color:white;}
#contact-form{font-size:10px;border-color:#06c;}
#contact-form input[type='submit']{width:85px;height:23px;font-size:12px;}
#contact-form tr th{padding-right:0px;}
#contact-form tr td{padding:6px 0;}
#contact-form table{width:520px;}
#contact-form img{border:1px solid #333;vertical-align:middle;height:28px;width:80px;}
/*contact*/
/*search-error*/
#search-error h3{color:#0C7823;}
#search-error p{font-size:12px;}
/*search-error*/

.Separator-line{border-top:#369 1px dashed;overflow:hidden;margin:4px 0 20px 0;}
#bgimage img{border-top:4px solid #000;border-bottom:1px solid #000;display:block;float:left;}
#site-info span{font-style:italic;position:relative;font-weight:lighter;font-size:12px;}
#widget-area{float:right;overflow:hidden;width:220px;}
.entry-meta .riqi{background:url(time.gif) left no-repeat;white-space:pre;}
.entry-meta .zuozhe{background:url(user.gif) left no-repeat;white-space:pre;}
.entry-meta .pinglun{background:url(comment.gif) left no-repeat;white-space:pre;}
.entry-meta a,
.entry-tags a{color:#06c;text-decoration:none;}
.entry-tags a{margin-right:12px;}
.entry-meta a:hover,
.entry-tags a:hover{color:#ff4b33;text-decoration:none;}
#seeall a{text-decoration:none;}
#seeall{float:right;}
#befor-post{float:left;width:310px;}
#after-post{float:right;width:310px;text-align:right;}
#bottom-info{margin:10px 0 10px 0;}
#bottom-info a{text-decoration:none;}
.entry-meta{font-size:12px;background-color:#ffffcc;}
.entry-tags{font-size:12px;line-height:18px;clear:right;}

/*sidebar*/
.widget-title{color:#0C7823;font-size:14px;}
#plusone{background-color:;margin-top:6px;}
/*sidebar*/
/*首页*/
#site-generator span{margin-right:10px;}
#site-generator img{border:1px dotted #369;}
/*分页码部分*/
#paginator a{margin:0 5px 0 5px;text-decoration:none;border:#333 1px solid;}
#paginator{text-align:center;font-size:14px;}
/*分页码部分*/