{%extends 'base.html'%}
{%block content%}
<div>
	<div id='about-me'>
		<h2>个人简介</h2>
		<p>男，1986年出生。籍贯：江苏 南京</p>
		<p>常用网络ID： BojanLiu</p>
		<div class='email'><p>联系我: Email/Gtalk</p></div>
		<div id='find-me'>
			<p>你可以在这些地方了解我:</p>
			<div id='delicious' class='site-logo'>
				<a href='http://www.delicious.com/bojanliu' target="_blank" title='my delicious bookmark'>
					<img src="/static/delicious.png">
				</a>
			</div>
			<div id='linkedin' class='site-logo'>
				<a href='http://cn.linkedin.com/in/bojanliu' target="_blank" title='my linkedin profile'>
					<img src="/static/linkedin.gif">
				</a>
			</div>
			<div id='douban' class='site-logo'>
				<a href='http://www.douban.com/people/bojanliu/' target="_blank" title='my douban profile'>
					<img src="/static/douban.gif">
				</a>
			</div>
			<div id='facebook' class='site-logo'>
				<a href='http://www.facebook.com/bojanlau' target="_blank" title='my facebook page'>
					<img src="/static/facebook.gif">
				</a>
			</div>
			<div id='twitter' class='site-logo'>
				<a href='http://twitter.com/bojanliu' target="_blank" title='my twitter page'>
					<img src="/static/twitter.png">
				</a>
			</div>
			<div id='quora' class='site-logo'>
				<a href='http://www.quora.com/bojan-liu' target="_blank" title='my quora profile'>
					<img src="/static/quora.gif">
				</a>
			</div>
			<div id='reader' class='site-logo'>
				<a href='http://www.google.com/reader/shared/lllhhw' target="_blank" title='my google reader'>
					<img src="/static/reader.gif">
				</a>
			</div>
			<div id='reader' class='site-logo'>
				<a href='http://www.zhihu.com/people/bojanliu' target="_blank" title='my zhihu profile'>
					<img src="/static/zhihu-logo.jpg">
				</a>
			</div>
			<div id='reader' class='site-logo'>
				<a href='https://github.com/bojanliu' target="_blank" title='my github profile'>
					<img src="/static/github-logo.jpg">
				</a>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<div>
		<p>我的书影音</p>
		<div id='books'>
			<script type="text/javascript" src="http://www.douban.com/service/badge/bojanliu/?show=wishlist&amp;n=10&amp;columns=2&amp;hidelogo=yes" ></script>
		</div>
		<div id='music'>
			<script src="http://img3.douban.com/js/packed_radiowidget_plain7418268585.js?doubanid=50662455&maxresults=9&color=3"></script>
		</div>
	</div>
</div>
{%endblock%}
