<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' lang='en'>
<head>
<meta http-equiv='content-type' content='text/html';charset='UTF-8'>
{%if not is_tag and not is_category%}
	{%ifequal 1 page%}
		<title>首页 | NewLiu.com | 每一刻的我，都是新的！</title>
	{%else%}{%if page%}
		<title>NewLiu.com | 每一刻的我，都是新的！</title>
	{%endif%}{%endifequal%}
{%endif%}
<title>{%firstof is_about is_contact post.title is_archive is_tag is_category is_search_result%} | NewLiu.com</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/static/syntaxhighlighter/styles/shCore.css" type="text/css" rel="stylesheet"/>
<link href="/static/syntaxhighlighter/styles/shThemeDefault.css" type="text/css" rel="stylesheet"/>
<link rel="Shortcut Icon" href="/static/favicon.ico">
</head>

<body>
<div id='wrapper'>
	<div id='header'>
			<div id='logo'><a href='/'><img src='/static/newliu.png'/></a></div>
			<div id='site-description'>
				<span>每一刻的我，都是新的！</span>
			</div>
			<div id='bgimage'><img src='/static/bgimage.jpg' width='940' height='198'></div>
			<div id='access'>
				<div class='menu'>
					<ul>
						<li><a href='/'>首页</a></li>
						<li><a href='/about/'>关于</a></li>
						<li><a href='/contact/'>联系</a></li>
					</ul>
				</div>
			</div>
	</div>

	<div id='main'>
		<div id='container'>
			<div id='content'>
			{%block content%}
			{%endblock%}
			</div>
		</div>
		<div id='widget-area'>
			{%include 'sidebar.html'%}				
		</div>

	</div>

	<div id='footer'>
		<div id='colophon'>
			<div id="site-info">
				<a href="/" title="NewLiu" rel="home">NewLiu</a>
				<span> Copyright &copy 2012 All rights reserved.</span>
			</div>
			<div id='site-generator'>
				<span>Powered by:</span>
				<span><a href='http://www.python.org/' target="_blank" title='Python官网'>
					<img src='/static/python-logo.jpg' width='80' height='15'>
				</a></span>
				<span><a href='https://www.djangoproject.com/' target="_blank" title='Django官网'>
					<img src='/static/django-logo.gif' width='80' height='15'>
				</a></span>
				<span><img src='/static/apache-logo.jpg' width='80' height='15'></span>
				<span><a href='http://www.webfaction.com?affiliate=bojanliu' target='_blank' title='Webfaction'>
					<img src='/static/webfaction-logo.png' width='80' height='15'>
				</a></span>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
<script type = "text/javascript"  src = "/static/syntaxhighlighter/scripts/shBrushCss.js" ></script>
<script type = "text/javascript"  src = "/static/syntaxhighlighter/scripts/shBrushJScript.js" ></script>
<script type = "text/javascript"  src = "/static/syntaxhighlighter/scripts/shBrushPhp.js" ></script>
<script type = "text/javascript"  src = "/static/syntaxhighlighter/scripts/shBrushSql.js" ></script>
<script type = "text/javascript"  src = "/static/syntaxhighlighter/scripts/shBrushVb.js" ></script>
<script type = "text/javascript"  src = "/static/syntaxhighlighter/scripts/shBrushPython.js" ></script>
<script  src = "/static/syntaxhighlighter/scripts/shBrushXml.js" ></script>
<script  type = "text/javascript">
SyntaxHighlighter.config.clipboardSwf = "/static/syntaxhihglighter/scripts/clipboard.swf";
SyntaxHighlighter.all();
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23803260-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://www.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>


